table {
  text-align: center;
  width: 550px;
  height: 40px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  z-index: 25;
}
#main {
  font-family: 'Georgia';
  text-align: center;
  width:550px;
  border: 2px solid black;
  padding: 10px;
  width: 600px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: #595959;
  z-index: 10;
}
#controls {
  width:550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
button {
  width:125px;
  height: 40px;
}
h1 {
  font-family: 'Georgia';
  color: grey;
}
h2 {
  font-family: 'Georgia';
  color: #006600

}
